<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GUGU</title>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/react/15.6.2/react.min.js"></script>
  <script src="https://cdn.bootcss.com/react-dom/15.6.2/react-dom.min.js"></script>
  <script src="gugu/gugu-firebase-connector.min.js"></script>
</head>
<body>
  <div id="app"></div>
</body>
</html>