.computed-styles {
  .filter-input {
    width: 70%;
  }
  .showall-check {
    width: 30%;
    text-align: right;
  }

  .row {
    font-size: 0.12rem;
    display: flex;

    &:nth-child(odd) {
      background: #f5f5f5;
    }

    &.default {
      .name,
      .value {
        opacity: 0.5;
      }
    }

    .name {
      width: 50%;
      color: #c60813;
    }
    .value {
      width: 50%;
      color: #313942;
    }
  }
}