#tracker {
  .content {
    display: flex;
    height: 5rem;

    .input-area {
      width: 50%;

      textarea {
        height: 100%;
      }
    }

    .parse {
      overflow: auto;
      width: 50%;
    }
  }
  .opt {
    margin-top: 0.16rem;
    display: flex;
    justify-content: space-between;
  }
}